html  {
    box-sizing: border-box;
}



*::before,
*::after{
    box-sizing:inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Museo Sans Cyrl', sans-serif;
    line-height: normal;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container {
    max-width: 1192px;
    margin: 0 auto;

}

@import 'base/variables';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/tiles';
@import 'blocks/carousel';
@import 'blocks/service';
@import 'blocks/video';
@import 'blocks/values';
@import 'blocks/job';
@import 'blocks/students';
@import 'blocks/map';
@import 'blocks/footer';